body{
    background-color:darkgray;
    font-family: Verdana;
    max-width: 600px;
    margin: auto;
}
#title, .subtitle, .post_title {
    color: black
    
    
}

#title {
    font-size: 50px;
}
.title_image{
    margin-bottom: 10px;
    border-radius: 50%;
    border: solid 1px black;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 10px;
    font-family: verdana;
}
.post{
    background-color: whitesmoke;
    padding: 15px;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: arial;
}
a{
    text-decoration: underline;
    color:black;
}
.post_contant{
    margin: 0px;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image{
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
    height: auto;
    width: auto;
}
.post_image1{
    margin-bottom: 10px;
    border-radius: 5px;
    margin: auto;
    height: auto;
    width: auto;
}
.contact{
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 10px;

}
.rodape{
    padding: auto;
    margin: 15px,0,0,10px;
}